@import 'bootstrap/bootstrap.scss';

.centered-container {
  padding: 10% 20% 20% 20%;
  margin-left: auto auto auto auto;
}

.submit-button {
  margin: auto;
  display: table;
  margin-top: 40px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.center-text {
  text-align: center;
  display: block;
}
